body{
    background-color: grey;
}

.color-hover{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.color-red{
    background-color: red;
    height: 30px;
    width: 130px;
    margin: 10px;
    border: 1px solid white;
}
.color-cyan{
    background-color: cyan;
    height: 30px;
    width: 130px;
    margin: 10px;
    border: 1px solid white;
}
.color-violet{
    background-color: violet;
    height: 30px;
    width: 130px;
    margin: 10px;
    border: 1px solid white;
}
.color-orange{
    background-color: orange;
    height: 30px;
    width: 130px;
    margin: 10px;
    border: 1px solid white;
}
.color-pink{
    background-color: pink;
    height: 30px;
    width: 130px;
    margin: 10px;
    border: 1px solid white;
}
